extends layout

block content
  include includes/navbar.pug
  .container.mt-5
    .row
      include includes/errors.pug
    .row
      each val in projects
        if val
          .col-md-4
            .card.text-white.bg-primary.mb-3.highlight(href='/project/' + val._id)
              .card-header
                a.text-white(href='/project/' + val._id) #{val.name}
                .btn-group.float-right
                  a.btn(title="Edit" href="/project/edit/" + val._id)
                    i.fas.fa-edit
                  button.btn(data-toggle="modal" title="Share" data-target="#add-user"+val._id)
                    i.fas.fa-share-alt
                  button.btn(data-toggle="modal" title="Delete Project" data-target="#delete-project"+val._id) 
                    i.fas.fa-trash-alt
              .card-body
                p.card-text #{val.description}

          //- Delete project modal form
          .modal.fade(id="delete-project"+val._id tab-index="-1" role="dialog" aria-labelledby="newTaskLabel" aria-hidden="true")
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  h5.modal-title Delete Project
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                .modal-body
                  p Are you sure you want to delete this project?
                  if val
                      form(action = "/project/delete/" + val._id  method="POST")
                        button.btn.btn-danger.btn-block(type="submit") Delete

          //- Add user modal form
          .modal.fade(id="add-user" + val._id tab-index="-1" role="dialog" aria-labelledby="newTaskLabel" aria-hidden="true")
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  h5.modal-title Add User
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                .modal-body
                  p Add a user to the project?
                  if val
                    form(action = "/dashboard/add-user/" + val._id  method="POST")
                      .form-group
                        label(for="email") Email
                        input.form-control(type="email" id="email" name="email" placeholder="Enter user's email address")
                      button.btn.btn-primary.btn-block(type="submit") Add
                  

  //- New Project modal trigger button
  button.add-btn(data-toggle="modal" title="New Project" data-target="#newProject")
    i.fas.fa-plus
  .container.mt-5
    .row
      if error
        p.lead.mt-4 #{error}

  
  

  //- New Project modal form
  #newProject.modal.fade(tab-index="-1" role="dialog" aria-labelledby="newTaskLabel" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title New Project
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            form(action="/project/create", method="post")
              .form-group
                label(for="name") Title
                input.form-control(type="name" id="name" name="name" required="true")
              .form-group
                label(for="description") Description
                input.form-control(type="description" id="description" name="description" required="true")
              button.btn.btn-primary.btn-block(type="submit") Create

